* {
    box-sizing: border-box;
    text-decoration: none;
    text-transform: lowercase;
    list-style: none;
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Paprika&display=swap');

body {
    font-family: Paprika;
    font-size: 12px;
}
