<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="a self-coded crud app to store information about utilities for our household">
    <meta name="author" content="camille frantz">
    <title>frantz household utility accounts</title>
    <link rel="stylesheet/less" type="text/css" href={{ url_for("static", filename="styles.less") }} />
    <script src="https://cdn.jsdelivr.net/npm/less@4" ></script>
    <link rel="shortcut icon" href={{ url_for('static', filename="favicon.png") }} type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.2.0/css/fork-awesome.min.css" integrity="sha256-XoaMnoYC5TH6/+ihMEnospgm0J1PM/nioxbOUdnM8HY=" crossorigin="anonymous">
</head>
<body>
    <header class="header">
        <img src="https://cdn.fyrfli.link/i/handcup.jpeg" alt="" class="hdrimg">
        <h1 class="hdrhdg">frantz household utility accounts</h1>
    </header>
    <main class="container">
        <aside>
            <nav>
                <ul class="nav-items">
                    <li class="nav-item"><a href="/">Index</a></li>
                    <li class="nav-item"><a href="/logout">Logout</a></li>
                </ul>
            </nav>
        </aside>
        {% block content %}{% endblock %}
    </main>
    <footer class="footer">
        &copy;{{ the_year }} Camille (<a href="https://fyrfli.dev/fyrfli">@fyrfli</a>) Frantz <br>
        proudly powered by 
        <a href="https://flask.palletsprojects.com">
        <img src={{ url_for('static', filename='cib-flask.svg') }} class="icon" alt="icon for the python flask project">
         Flask</a>
    </footer>
</body>
</html>
